<!-- 
Una vez creada la interfase, se importan las propiedad con la sintaxis de punto, parecido a la manera en que se traen los datos en un JSON.
-->

<!-- 
    hero - hace referencia a la propiedad
    . - concatena
    name - se trae el valor "name" de la propiedad hero.

    Se utiliza el pipe | uppercase para transformarlo a mayúsculas.
-->
<h2>{{hero.name | uppercase}} Detalles:</h2>
<p><b>ID:</b> {{hero.id}}.</p>
<p><b>Nombre</b> {{hero.name}}</p>
<p><b>Elemento: </b>{{hero.element}}</p>

<h2>Cambiando el nombre del héroe</h2>
<div>
    <label for="">
        <b>Nuevo nombre: </b>

<!--
    ngModel
    Es una directiva de ANgular, y par autilizarla se necesita importar FormsModule de @angular/forms

    Es una two-way binding (Enlace de doble sentido) la cual además de agregar el valor del input, permite modificar la información de name dentro de la propiedad hero en tiempo real.
-->
        <input [(ngModel)]="hero.name" type="text" placeholder="Nuevo nombre">
    </label>
</div>

<div>
    <label for="">
        <b>Elemento: </b>
        <input [(ngModel)]="hero.element" type="text" placeholder="Nuevo nombre">
    </label>
</div>

<hr>

<ul class="heroes">
<!--
    *ngFor: se utiliza para crear un loop y traer información almacenada en algún lugar, ya sea un arreglo o un Json

    let: inicia la variable
    hero: se refiere al tipo que jala de la interface Hero, y que tiene la información de todos los héroes.
    heroes: es la lista de héroes almacenadas en un array.

    (click): indica que el evento se debe disparar al hacer click.
    onSelect: Es el método que se manda llamar.
    hero: es la propiedad que llama.
    class.selected: agrega una clase llamada selected cuando hero (El elemento con la informaciónd e héroes) recibe el llamado de selectedHeroe al hacerle click

-->
    <li
        *ngFor="let hero of heroes"
        (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero"
        >

<!-- Una vez inicializado el loop, se puede crear cualquier etiqueta HTML e incrustar ahí la información necesaria. -->
        <span class="badge">{{hero.id}}</span> {{hero.name}} {{hero.element}}
    </li>
</ul>

<!--
    Se separa la funcionalidad para mostrar lso héroes en un componente aparte para su mejor manejo.

    [hero]: es una propiedad de enlace (binding) de angular de un solo sentido, donde hero es la propiedad y selectedHero
    selectedHero es la acción que realiza. Se enfrasca toda la funcionalida dne todo el componente la cual toma el hero del componente hijo.

    El binding permite controlar al componente hijo desd el padre.
-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<h2>Lista de Héroes</h2>

<table>
    <tbody>
        <tr *ngFor="let hero of heroes">
            <td>{{hero.id}}</td>
            <td>{{hero.name}}</td>
            <td>{{hero.element}}</td>
        </tr>
    </tbody>
</table>